body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.mainContent {
  flex: 3; /* Ocupa 3/4 do espaço */
}

.container > :nth-child(2) { /* Seleciona o segundo filho do container (a Sidebar) */
  flex: 1; /* Ocupa 1/4 do espaço */
}